$link-color: #004992;
$body-heading-color: #004992;
$base-button-color: #004992;
$sidebar-color: #c2cbd3;
$nav-child-link-color: #004992;
$search-result-preview-color: #e6f2ff;
$body-text-color: #26252b;
$feedback-color: darken($sidebar-color, 3%) !default;
