$link-color: #681b80;
$body-heading-color: #681b80;
$base-button-color: #681b80;
$sidebar-color: #681b802a;
$nav-child-link-color: #681b80;
$search-result-preview-color: #FFFEFF;
$feedback-color: #E2D3D0;
//$feedback-color: darken($sidebar-color, 3%) !default;